<div class="hi">
    <section class="top-nav">
        <div>
            <a routerLink="/">
                <div class="HStack">
                    <div class="headerImageContainer">
                        <img src="Images/logo.png" alt="DoorHinge Apps Logo" class="headerImage">
                    </div>
                </div>
            </a>
        </div>

        <div class="spacer"></div>

        <input id="menu-toggle" class="menu-toggle-class" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
        </label>
        <ul class="menu">
            <li><a routerLink="/" class="menuText">Home</a></li>
            <li><a routerLink="/our-apps" class="menuText">Apps</a></li>
            <li><a routerLink="/contact" class="menuText">Contact</a></li>
            <li><a routerLink="/about" class="menuText">About</a></li>
            <li><a href="https://github.com/doorhinge-apps"><img src="Images/Icons/github.svg" class="menuImage"></a></li>
        </ul>
    </section>
</div>