html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.circle {
    position: absolute;
    background: linear-gradient(#B1D1FF, #B1D1FF) padding-box,
        linear-gradient(0deg, #FF6EFA, #A388FF) border-box;
    border-radius: 50em;
    border: 15px solid transparent;
    /* remove width: 100vh; height: 100vh; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Only show the right half of whatever size it becomes: */
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.containerCircles {
    /* margin-top: 1500px; */
    /* margin-top: 200vh; */
    scale: 120%;
}

@media only screen and (min-width: 650px) {
    .containerCircles {
        margin-top: 200vh;
    }
}

@media only screen and (max-width: 649px) {
    .containerCircles {
        margin-top: 350vh;
    }
}
