body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    color: white;
}

h1,
h2,
h3 {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-text-stroke: 1px #a388ff;
    text-shadow: #3b2a75 0px 0px 2px;
}

.gif {
    /* filter: invert(100%); */
    /* box-shadow: 0 0 8px 8px #B1D1FF inset; */
}

strong {
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.gif {
    display: block;
    width: min(90vw, 700px);
    height: min(90vw, 700px);

    /* Radial fade on all edges */
    -webkit-mask-image: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;

    mask-image: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}
