.clipWrapper {
    /* margin-top: 200px; */
    /* margin-left: 20px; */
    /* width: 400px; */
    /* height: 500px; */
    width: inherit;
    height: inherit;
    overflow: hidden; /* Ensures content outside the rectangle is clipped */
    position: relative; /* Creates a containing block for the positioned child */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    border-radius: 20px;
}

.scrollingStack {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    rotate: 30deg;
    transform-origin: center; /* Ensures rotation happens around the center */
    position: absolute; /* Positions the rotated content in the center of the wrapper */
    transition: all 500ms ease;
}
